 body{
       font-family: Arial, Helvetica, sans-serif;
        background-color: #e3dddd;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;        
    }
.Login{
        background: white;
        padding: 25px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 0 10px gray;
        }
h2{
        text-align: center;
    
   }
input{
        width: 95%;
        padding: 7px;
        margin: 7px 0;
                
     }
            
button{
        width: 100%;
        padding: 7px;
        background: blue;
        color: white;
        border: none;
        cursor: pointer;

       }
button:hover{
               background: darkblue;
            
            }
